body {
    background-color: #fb0d00;
    font-family: Rubik, Arial;
    color: #FFCB12;
}

form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
}

form hr {
    width: 15%;
}

h1 {
    text-align: center;
}

#burger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#overlay {
    width: 80%;
    margin: 3% auto;
    padding-top: 10px;
    height: 95vh;
    background-color: #21522f;
    border-radius: 40px;
}

#logo {
    height: 100px;
    display: block;
    margin: auto;
}


toppings label, .cheesy label {
    margin-right: 25px;
}
